@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro'), url('./assets/Acumin-RPro.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Acumin Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro Italic'), url('./assets/Acumin-ItPro.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Acumin Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro Bold'), url('./assets/Acumin-BdPro.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Acumin Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Acumin Pro Bold Italic'), url('./assets/Acumin-BdItPro.woff') format('woff');
  }

body {
  margin: 0;
  font-family: 'Acumin Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  user-select: none;
}

html.dark {
  color: #eee;
  background: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
